* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #004D40;
    font-family: 'Times New Roman';
}

header {
    background-color: #000000;
    width: 100%;
    clear: both;
    content: '';
    display: table;
}

.menu {
    width: 900px;
    margin: 0 auto;
}

img {
    width: 120px;
    height: 120px;
    float: left;
    padding: 2%;
}

nav {
    float: right;
}

nav ul li {
    list-style: none;
    margin-left: 80px;
    padding: 50px 0;
    float: left;
}

nav ul li a {
    text-decoration:  none;
    color: #FFFFFF;
    font-weight: bold;
}

nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: #FFFFFF;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 0.2s;
}

nav ul li a:hover::before {
    width: 3.7%;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.full {
    width: 100%;
    height: 100%;
    background: url('ajedrez.jpg') no-repeat 50% 50%;
    background-size: cover;
    display: table;
    margin: auto;
    top: 0;
}

.full-inner {
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}

.content {
    max-width: 700px;
    margin: auto;
    text-align: center;
}

.content h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 500%;
    color: #FFFFFF;
    text-shadow: 0 0 300px black;
    padding: 30px;
}

.content a {
    border-radius: 9px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border: 3px solid;
    padding: 7px 13px;
}

.content a:hover {
    color: yellow;
}

p {
    font-size: 160%;
    line-height: 200%;
    margin: 3%;
    font-family: 'Times New Roman', Times, serif;
    color: #dfd4d4;
}

h2 {
    font-size: 250%;
    line-height: 200%;
    margin: 3%;
    font-family: 'Times New Roman', Times, serif;
    color: #ddd5d5;
}